<!DOCTYPE html>
<html>
  <body>
    {% if pokemon == "Pikachu" %}
    <h1>Yes! You obviously know your pokemon. Well done!</h1>
    <img
      src="https://www.freeiconspng.com/uploads/pikachu-pokemon-png-11.png"
    />
    {% else %}
    <h1>Oh no, sorry, that is not a cool pokemon and now Pikachu is upset.</h1>

    {% endif %}
  </body>
</html>
